<section class="vertical-scrolling mx-auto h-100">
  <div class="container-fluid h-100 px-0">
    <div class="row pl-50 pr-50 no-gutters align-items-center mobile_min-vh-40 min-vh-100">
      <div class="col-lg-10">
        <a href="/blogs/stories"><h1 class="fs120">{{ 'general.label.all_stories' | t }}</h1></a>
      </div>
      <div class="col-lg-2 text-right">
        <a href="/blogs/stories"><p class="mt-lg-5 pt-lg-5"><u>{{ 'general.label.READ_ALL_STORIES' | t }}</u></p></a>
      </div>
  </div>
</section>