  {% assign desktop_img_src = "followthesun_new.gif" | file_url %}
  {% assign mobile_img_src = "followthesun_new.gif" | file_url %}
  <section class="vertical-scrolling {{section_number}} followthesun_gif" onmouseover="this.style.backgroundImage = 'url({{desktop_img_src}}';" onmouseout="this.style.backgroundImage='none'" data-section="one-image" data-desktop-url="{{desktop_img_src}}" data-mobile-url="{{mobile_img_src}}">
    <div class="container-fluid h-100">
      <div class="row align-items-center min-vh-100">
        <div class="col-lg-12 my-auto">
            <h1 class="text-center fs120">#FOLLOWTHESUN</h1>
        </div>
      </div>
    </div>
  </section>
