<section class="vertical-scrolling homemade_glasses {{section_number}}">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-12 pl-50">
          <h2 class="title text-white mt-10">We make handmade
            eco-friendly sunglasses in timeless silhouettes 
            with no compromises in quality.</h2>
            <a href="/collections/all"><p class="view_all_style text-white"><u>VIEW ALL STYLES</u></p></a>
      </div>
    </div>
  </div>
</section>
