<style>
  .counter {
    cursor: default;
    font-size: 1.5rem;
    line-height: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 1.5rem;
    text-align: center;
    background-color: #42F316;
    color: #000;
}
.marquee-counter {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.marquee-counter .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    -webkit-animation: marquee-counter 40s linear infinite;
    animation: marquee-counter 40s linear infinite;
}
.marquee-counter .track .marquee-content {
  text-transform: uppercase;
}

@keyframes marquee-counter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

</style>
<div class="counter launched" id="counter">
    <div class="marquee-counter">
      <div class="track">
          <a target="_blank" href="https://www.kickstarter.com/projects/amaearth/kamba-backpack-a-socially-empowered-project-and-product" class="marquee-content">
          We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded /
          </a>
      </div>
    </div>
</div>