<style>
  .marquee-container {
 
  z-index: -1;
  &.center {
    top: 48%;
    // position: absolute;
    position:fixed;
    transform: translateY(-50%);
    &.launched{
      display:none;
    }
  }
  &.bottom {
    position:fixed;
    top: auto;
    bottom: 0;
    z-index: 200;
  }
}
.marquee-counter {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: $base * 5;
  overflow: hidden;
  background-color: $corporateColor;
  color: $body_bg;
  // margin-bottom: $base * 2;
  
  @media (min-width: $breakpoint-laptop) {
    height: $base * 11;
    // margin-bottom: $base * 2;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-counter 40s linear infinite;
    .marquee-content {
      font-size: $base * 5;
      line-height: $base * 5;
      text-transform: uppercase;
      @media (min-width: $breakpoint-laptop) {
        font-size: $base * 11;
        line-height: $base * 12;
      }
    }
  }
  @keyframes marquee-counter {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
.marquee-center {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: $base * 5;
  overflow: hidden;
  @media (min-width: $breakpoint-laptop) {
    height: $base * 21;
  }
  // background-color: $body_bg;
  // margin-bottom: $base;

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-center 22s linear infinite;
    @media (min-width: $breakpoint-laptop) {
      animation: marquee-center 32s linear infinite;
    }
    .marquee-content {
      font-size: $base * 5;
      line-height: $base * 5;
      text-transform: uppercase;
      @media (min-width: $breakpoint-laptop) {
        font-size: $base * 20;
        line-height: $base * 21;
      }
    }
  }
  @keyframes marquee-center {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.marquee-bottom {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: $base * 5;
  overflow: hidden;
  background-color: $body_color;
  color: $body_bg;
  @media (min-width: $breakpoint-laptop) {
    height: $base * 10;
  }
  // margin-bottom: $base;

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee-bottom 56s linear infinite;
    .marquee-content {
      font-size: $base * 5;
      line-height: $base * 5;
      text-transform: uppercase;
      @media (min-width: $breakpoint-laptop) {
        font-size: $base * 8;
        line-height: $base * 10;
      }
    }
  }
  @keyframes marquee-bottom {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
</style>
<div class="counter launched" id="counter">
    <div class="marquee-counter">
      <div class="track">
          <a target="_blank" href="https://www.kickstarter.com/projects/amaearth/kamba-backpack-a-socially-empowered-project-and-product" class="marquee-content">
          We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded /
          </a>
      </div>
    </div>
</div>