<style>
  .marquee-counter .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    -webkit-animation: marquee-counter 40s linear infinite;
    animation: marquee-counter 40s linear infinite;
}
</style>
<div class="counter launched" id="counter">
    <div class="marquee-counter">
      <div class="track">
          <a target="_blank" href="https://www.kickstarter.com/projects/amaearth/kamba-backpack-a-socially-empowered-project-and-product" class="marquee-content">
          We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded / We did it! Our Kickstarter was successfully funded /
          </a>
      </div>
    </div>
</div>