<div id="signUpModal" class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="modal-title mb-4 pb-0">{{ 'general.newsletter_form.newsletter_txt' | t }}</h5>
        <p class="my-4 newsletter_text">{{ 'general.newsletter_form.newsletter_desc' | t }}</p>
      </div>
      <div class="col-lg-6">
        {% if request.host == "jamesay-dk.myshopify.com" or request.host == "jamesay.dk" %}
          {% assign lang = "da-DK" %}
          {% assign trustpilot_width = "275px" %}
          <div class="klaviyo-form-TcEcVW"></div> 
        {% else %}
          {% assign lang = "en-US" %}
          {% assign trustpilot_width = "240px" %}
          <div class="klaviyo-form-VqHTtm"></div>
        {% endif %}
      </div>
    </div>
  </div>