<div id="signUpModal" class="container-fluid">
    <div class="row mt-4">
      <div class="col-lg-6">
        <p class="footer_title">{{ 'general.newsletter_form.newsletter_txt' | t }}</p>
        <p class="my-5 newsletter_text">{{ 'general.newsletter_form.newsletter_desc' | t }}</p>
      </div>
      <div class="col-lg-4">
        {% if request.host == "jamesay-dk.myshopify.com" or request.host == "jamesay.dk" %}
          {% assign lang = "da-DK" %}
          {% assign trustpilot_width = "275px" %}
          <div class="klaviyo-form-TcEcVW"></div> 
        {% else %}
          {% assign lang = "en-US" %}
          {% assign trustpilot_width = "240px" %}
          <div class="klaviyo-form-VqHTtm"></div>
        {% endif %}
      </div>
    </div>
  </div>