<section class="sec_partner_logo">
    <div class="partner_logo_slider">
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/mrporter.jpg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/nytsyn.png"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/dac.png"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/gleneagles.png"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/heartmus.png"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/ka-pok.png"></div>
        {% comment %} <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/helleheinoptik.png"></div> {% endcomment %}
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/Optica-Thordsen2.png"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/anothernue.png"></div>
    </div>
</section>