<section class="sec_partner_logo">
    <div class="partner_logo_slider">
        <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/mrporter2.jpg"></div>
        <div class="slide" style="max-width: 110px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/nytsyn2.png"></div>
        <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/dac2.png"></div>
        <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/gleneagles2.png"></div>
        <div class="slide" style="max-width: 110px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/heartmus2.png"></div>
        <div class="slide" style="max-width: 110px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/ka-pok2.png"></div>
        {% comment %} <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/helleheinoptik.png"></div> {% endcomment %}
        <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/Optica-Thordsen2.png"></div>
        <div class="slide" style="max-width: 130px;"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/anothernue2.png"></div>
    </div>
</section>