<section class="sec_partner_logo">
    <div class="partner_logo_slider">
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/mrporter.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/nytsyn.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/dac.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/gleneagles.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/heartmus.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/ka-pok.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/helleheinoptik.svg"></div>
        <div class="slide"><img src="https://cdn.shopify.com/s/files/1/0224/6066/1824/files/anothernue.svg"></div>
    </div>
</section>