<nav class="search-bar">
  <div class="row">
    <div class="col">
      <div class="search-logo">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 571.9 68.4" style="enable-background:new 0 0 571.9 68.4; width: auto; height: 14px;" xml:space="preserve">
          <style type="text/css">
            .stays{fill:#000;}
          </style>
          <g class="stays" style="display: block;">
            <path class="stays" d="M37.2,49.6H19.7c-2.5,0-4.6,1.6-5.4,3.9L11,63c-0.8,2.3-3,3.9-5.4,3.9l0,0c-3.2,0-5.8-2.5-5.8-5.7
              c0-0.7,0.1-1.4,0.4-2.1L20.6,6c1.1-2.9,3.9-4.8,7-4.8h1.9c3.1,0,5.9,1.9,7,4.8l20.3,53c1.1,3-0.4,6.3-3.3,7.4
              c-0.6,0.2-1.3,0.4-2,0.4l0,0c-2.4,0-4.6-1.5-5.4-3.8l-3.4-9.6C41.8,51.1,39.6,49.6,37.2,49.6z M29.7,39.7c3.2,0,5.7-2.6,5.7-5.7
              c0-0.6-0.1-1.3-0.3-1.9l-2.9-8.2c-0.5-1.4-1-3-1.6-4.5c-0.4-1.3-1.8-2-3.1-1.5c-0.7,0.3-1.3,0.8-1.5,1.6c-0.5,1.6-1,3.2-1.4,4.4
              l-2.8,8.3c-1,3,0.6,6.3,3.6,7.3c0.6,0.2,1.2,0.3,1.8,0.3L29.7,39.7L29.7,39.7z"></path>
            <path class="stays" d="M91,38.2L72.8,8c-1.3-2.1-0.6-4.9,1.5-6.2c0.7-0.4,1.5-0.7,2.3-0.7h2.7c1.6,0,3.1,0.9,3.9,2.3L91,17.3
              c0.5,0.8,1.4,2.6,2.5,4.7c1.2,2.2,3.9,3.1,6.1,1.9c0.8-0.4,1.5-1.1,1.9-1.9c0.9-1.7,1.7-3.3,2.5-4.7l7.9-14
              c0.8-1.4,2.3-2.3,3.9-2.3h2.6c2.5,0,4.5,2,4.5,4.5c0,0.9-0.2,1.7-0.7,2.4L103.8,38c-0.4,0.7-0.6,1.5-0.7,2.3v21.8
              c0,2.5-2,4.5-4.5,4.5l0,0h-2.7c-2.5,0-4.5-2-4.5-4.5V40.5C91.7,39.7,91.5,38.9,91,38.2z"></path>
            <path class="stays" d="M216.2,32L170,15.8c-1.1-0.4-2.3,0.2-2.7,1.3c-0.1,0.2-0.1,0.5-0.1,0.7v32.5c0,0.7,0.3,1.3,0.9,1.7
              c0.4,0.3,0.8,0.4,1.2,0.4c0.2,0,0.5,0,0.7-0.1L216.2,36c1.1-0.4,1.7-1.6,1.3-2.7C217.3,32.7,216.8,32.2,216.2,32L216.2,32z"></path>
            <path class="stays" d="M260.5,44.8l3.2-0.3c2.2-0.3,4.3,1.2,4.8,3.4c1.6,7.1,7.6,10.7,15.4,10.7c8.4,0,15.1-2.6,15.1-10.3
              s-8.9-7.5-18.7-9.7c-11.9-2.6-22.5-6.9-22.5-19.5c0-14,12.8-19,24.6-19C294.9,0,305,4.3,308,16.2c0.6,2.4-0.8,4.8-3.2,5.4
              c-0.1,0-0.3,0.1-0.4,0.1l-3,0.5c-2.3,0.4-4.5-1.1-5.1-3.4c-1.7-6.3-6.6-9.4-14.1-9.4c-6.7,0-12.6,2.8-12.6,9c0,6,7.3,7.9,16.4,9.4
              c13.8,2.2,24.9,5.8,24.9,19.9c0,15.9-13.6,20.3-27.2,20.3c-13.1,0-24.8-5.7-27.3-17.9c-0.5-2.4,1.1-4.8,3.5-5.3
              C260.2,44.8,260.3,44.8,260.5,44.8z"></path>
          </g>
        </svg>
      </div>
      <div class="search-close">
        <img src="//cdn.shopify.com/s/files/1/0097/9252/0228/t/2/assets/search-close.png?4230" class="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="/search" method="get" class="input-group cursor" role="search" name="searchform">
        <input type="hidden" name="type" value="product">
        <input type="search" name="q" id="search" value="{{ search.terms | escape }}" placeholder="{{ 'general.header.search_txt' | t }}" class="input-group-field" aria-label="Search">
      </form>
    </div>      
  </div>
</nav>