<div class="footer_lifetime">
  <div class="js-conveyor-example">
    <ul>
      <li>{{shop.metafields.string_translation.free_shipping_worldwide}}</li>
      <li class="d-none d-lg-inline-block"><span class="hide">{{shop.metafields.string_translation.one_order_one_kg_plastic}}</span></li>
      <li>{{shop.metafields.string_translation.one_order_one_kg_planted_tree}}</li>
    </ul>
  </div>
</div>