{% layout none %}
<div id="fullpage1">
  <section class="vertical-scrolling mx-auto mw-100">
    <div class="container-fluid h-100 pl-50 pr-50">
      {{ page.content }}
    </div>
  </section>
  {% if page.handle == "about-2021" || page.handle == "about"%}
    {% include 'collection_2021' %}
  {% endif %}
</div>