<div id="fullpage1">
  <section class="vertical-scrolling mx-auto mw-100">
    <div class="container-fluid h-100 pl-50 pr-50 pt-5">
      <div class="row">
        <div class="col-12  mt-20 mb-20" data-aos="fade-up">
          <h3 class="fs80">{{ page.title }}</h3>
        </div>
        </div>
      {{ page.content }}
    </div>
  </section>
</div>