<div id="fullpage1">
  <section class="vertical-scrolling mx-auto mw-100">
    <div class="container-fluid h-100 pl-50 pr-50 pt-5">
      {{ page.content }}
    </div>
  </section>
  {% if page.handle == "about" %}
    {% include 'collection_2021' %}
  {% elsif page.handle == "sustainability" %}
    {% include 'collection_2021' %}
  {% elsif page.handle == "contact" %}
    {% include 'collection_2021' %}
  {% elsif page.handle == "follow-the-sun" %}
    {% include 'all_stroies' %}
  {% endif %}
</div>